
PORT=
CORS_ORIGINS=


#DB
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=


#JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_TTL_SECONDS=


#SEED (initial user)
SEED_FIRST_NAME=
SEED_LAST_NAME=
SEED_USERNAME=
SEED_EMAIL=
SEED_PASSWORD=
